#Test 
/_tools
/_test
/_devzone

#IDE
.idea/

# Exclude files
/.htaccess
.htaccess
/.htsecure
.htsecure
/*.sql
/*.xml
*.log
*.sql
*.tar.gz
*.txt
/.svn
*~

#Bitrix core & data
#core
/bitrix
/upload

#data
/local/.logs

# composer
/local/php_interface/vendor
/local/php_interface/composer.lock

# Test
!/local/php_interface/tests/App